{% extends "layout.html" %}
{% block content %}
    <div class="box2">
        <h2>Overview</h2>
        <p>Blue Moon was founded in 2011 at Montgomery High School in Skillman, New Jersey. Blue Moon offers quality, low-cost music lessons in the surrounding community.</p>
        <p>Our tutors are some of Montgomery's finest young musicians. Many particapte in MHS's music ensembles and have also participated in regional and state ensembles.</p>
        <p>Most importantly, they have all been through the music program, and have much knowledge and experience to share with students!</p>
    </div>
    <div class="box2">
        <h2>Donations</h2>
        <p>Blue Moon is a non-profit organization and has donated over $16,000. Donations are targeted towards improving music education in underfunded communities</p>
    </div>

{% endblock %}