{% extends "layout.html" %}
{% block content %}

    <div class="box1">
        <h1>Our Mission</h1>
        <p class="main">Blue Mooon is a non-profit organization that offers quality, low-cost music lessons in Montgomery Township. All proceeds are donated to bolster music education programs in under-priviliged communities</p>
        <a class="bat" href="/about-us">Learn More</a>
    </div> 


    <div class="box2">
        <h2 class="two">Interested in joining?</h2>
        <a class="bat" href="/tutor-registration">Become a tutor</a>
        <a class="bat" href="/student-registration">Become a student</a>
        <h2 class="contact">Contact Information</h2>
        <h3 class="sub">bluemoonmusic@mtsd.us</h3>
    </div>
    
{% endblock %}