{% extends "layout.html" %}
{% block content %}

    <div class="box2">
        <h2 class="tutorInfo">Tutors are held to the highest standard. They are expected to represent Montgomery High School and Blue Moon with integrity and dedication.</h3>
        <p class="strongOne">Prospective tutors should meet the following criteria:</p>
        <p>Have at least 2 years of experience with the instrument</p>
        <p>Have experience performing with the instrument</p>
        <p>Be patient with students</p>
        <p>It is helpful if tutors have prior tutoring experience</p>
        <p class="strongTwo">Email bluemoonmusic@mtsd.us with the following information:</p>
        <p>Name</p>
        <p>Grade</p>
        <p>Years of experience</p>
        <p>Maximum number of students</p>
        <p>Any additional information</p>

    </div>

    
{% endblock %}